@using MVC.TaskManager.Models.Enums
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container-xl">
    <div class="row row-cards">
        @foreach (var task in Model.TaskItems)
        {
            var ribbonColor = task.Status switch
            {
                Status.Pending => "bg-yellow",
                Status.InProgress => "bg-blue",
                Status.Completed => "bg-green",
                Status.Canceled => "bg-red"
            };

            <div class="col-md-6 col-lg-3">

                <div class="card">
                    <div class="ribbon @ribbonColor">@task.Status</div>
                    <div class="card-body">
                        <h3 class="card-title">@task.Name</h3>
                        <p class="text-secondary">@task.Description</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <span>@(task.User != null ? task.User.CompleteName : "No user assigned")</span>
                        <a asp-controller="TaskItem" asp-action="Details" asp-route-id="@task.TaskItemId">Details</a>
                    </div>
                </div>
            </div>
        }
        @foreach (var subTask in Model.SubTasks)
        {
            var ribbonColor = subTask.Status switch
            {
                Status.Pending => "bg-yellow",
                Status.InProgress => "bg-blue",
                Status.Completed => "bg-green",
                Status.Canceled => "bg-red"
            };

            <div class="col-md-6 col-lg-3">

                <div class="card">
                    <div class="ribbon @ribbonColor">@subTask.Status</div>
                    <div class="card-body">
                        <h3 class="card-title)">@subTask.Name</h3>
                        <p class="text-secondary">@subTask.Description</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <span>@(subTask.User != null ? subTask.User.CompleteName : "No user assigned")</span>
                        <a asp-controller="TaskItem" asp-action="Details" asp-route-id="@subTask.TaskItemId">Details</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
